/**
 * Breadcrumb Component Styles
 * Simple back navigation link
 */

@use '@/styles/design-tokens' as *;
@use '@/styles/mixins' as *;

.breadcrumb {
  margin-bottom: $spacing-4;
}

.link {
  font-size: 0.9375rem;
  color: $blue-600;
  text-decoration: none;
  @include transition-colors;

  &:hover {
    color: $blue-700;
    text-decoration: underline;
  }
}
